@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ścieżka do głównego layoutu
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('/images/img_bg_5.jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner slider-text-inner2 text-center">
                                
                                <h1>Skontaktuj się z nami</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Formularz kontaktowy</h2>
                <form method="post" action="@Url.Action("ContactSubmit", "Home")">
                    <div class="form-group">
                        <label for="Name">Twoje Imię:</label>
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Podaj imię" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Twój Email:</label>
                        <input type="email" id="Email" name="Email" class="form-control" placeholder="Podaj adres email" />

                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label for="Message">Treść wiadomości:</label>
                        <textarea id="Message" name="Message" class="form-control" placeholder="Wpisz treść"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </form>

            </div>
            <div class="col-md-6">
                <h2>Nasze dane kontaktowe</h2>
                <p>Adres: Hotel Paradise, Mars Bay Settlement, Bachamy</p>
                <p>Telefon: +1 526382364</p>
                <p>Email: info@hotelparadise.com</p>
            </div>
        </div>
    </div>
</div>
