@* Views/Account/AccessDenied.cshtml *@
@model object

<h1>Brak Dostępu</h1>
<p>Nie posiadasz uprawnień, by wyświetlić tę stronę.</p>
<a asp-action="Login" class="btn btn-primary">Zaloguj się jako inny użytkownik</a>
