@model Hotel.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Rejestracja";
}

<h2>Rejestracja</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class="btn btn-success">Zarejestruj</button>
</form>

<!-- Powrót do logowania -->
<hr />
<a asp-action="Login" asp-controller="Account" class="btn btn-link">
    Masz już konto? Zaloguj się
</a>
