@model Hotel.Areas.RestaurantManagement.ViewModels.CategoryActionModel


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Delete Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the category <strong>@Model.Name</strong>?</p>
        <p class="text-danger mb-0">This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
        <button type="button" id="deleteButton" class="btn btn-danger" data-id="@Model.ID">
            <i class="fa-solid fa-trash-can mr-1"></i> Delete
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark mr-1"></i> Close
        </button>
    </div>
</div>
