<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luxehotel Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/_flaticon.scss">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
	<link href="/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
	<link href="/fonts/icomoon/icomoon.css" rel="stylesheet" />

	<!-- Modernizr JS -->
	<script src="~/Scripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="~/Scripts/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<p class="site">www.hotelparadise.com</p>
						</div>
						<div class="col-xs-8 text-right">
							<p class="num">Zadzwon: + 1 526382364</p>
							<ul class="colorlib-social">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="index.html">Hotel Paradise</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active">
									<a href="@Url.Action("Index", "Home")">Strona główna</a>
								</li>
								<li class="has-dropdown">
									<a href="rooms-suites.html">Pokoje</a>
									<ul class="dropdown">
										
									</ul>
								</li>
								<li><a href="dining-bar.html">Posiłki &amp; Bar</a></li>
								<li><a href="aminities.html">Udogodnienia</a></li>
								
								<li><a href="about.html">O nas</a></li>
								<li><a href="contact.html">Kontakt</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		@RenderBody()

		<div id="colorlib-subscribe" style="background-image: url(../../wwwroot/lib/img_bg_2.jpg">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
						<h2>Dołącz do Newslettera</h2>
						<p>Zgarnij 50% zniżki na wszystkie pokoje, Zarezerwuj teraz!</p>
						<form class="form-inline qbstp-header-subscribe">
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Wpisz swój email">
										<button type="submit" class="btn btn-primary">Subskrybuj</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4>Hotel Paradise</h4>
						<p>Nasz hotel, położony w malowniczej okolicy, stanowi idealne połączenie komfortu i elegancji. Oferujemy stylowe pokoje, profesjonalne SPA oraz wyśmienitą kuchnię, by każdy Gość mógł cieszyć się niezapomnianym wypoczynkiem.</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-3 colorlib-widget">
						<h4>Szybki dostęp</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Zakwaterowanie</a></li>
								<li><a href="#">Posiłki &amp; Bar</a></li>
								<li><a href="#">Restauracja</a></li>
								<li><a href="#">Plaża &amp; Resort</a></li>
							</ul>
						</p>
					</div>
					
					<div class="col-md-3 col-md-push-1">
						<h4>Dane kontaktowe</h4>
						<ul class="colorlib-footer-links">
							<li>Mars Bay Settlement, Bachamy <br> Pleasant Bay 1</li>
							<li><a href="tel://1526382364">+1 526382364</a></li>
							<li><a href="mailto:info@yoursite.com">info@hotelparadise.com</a></li>
							<li><a href="http://luxehotel.com">hotelparadise.com</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> Hotel Paradise. Wszystkie prawa zastrzeżone.
							</small>
							
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="~/js/jquery.min.js"></script>

	<!-- jQuery Easing -->
	<script src="~/js/jquery.easing.1.3.js"></script>

	<!-- Bootstrap -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="~/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="~/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="~/js/bootstrap-datepicker.js"></script>
	<!-- Main -->
	<script src="~/js/main.js"></script>
	<script src="~/js/site.js"></script>

	@RenderSection("Scripts", required: false)


</body>
</html>
